body {
  background: #272727;
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.ul {
  display: flex;
  gap: 40px;
}

.ul__link {
  text-decoration: none;
  color: white;
}

.ul__link:hover {
  color: #118da8;
}
